%ul.breadcrumb
  %li 
    = link_to webui_sequence_path do
      Sequence
      %em
        = @sequence.title
    %span.divider
      &raquo;
  %li 
    Edit
  %li.pull-right
    = link_to webui_sequence_path do
      %i.icon.icon-arrow-left
      Back

%h4= @sequence.title

= render :partial => 'form'
