.row
  .col-sm-6 
    %ul.breadcrumb
      %li 
        %a= link_to 'Subscription Group', webui_subscription_group_path  
      %li
        = link_to @subscription_group.title, webui_sequence_path
      %li.active
        Edit
  .col-sm-6 

%h2.border
  %a= link_to '<<', webui_sequence_path
  = @subscription_group.title

= render :partial => 'form'
