.row
  .col-sm-6
    %ul.breadcrumb
      %li 
        %a= link_to 'Subscription Group', webui_subscription_group_path  
      %li.active
        = @subscription_group.title
        
  .col-sm-6
    %ul.nav.nav-secondary.pull-right 
      %li
        =link_to new_webui_subscription_group_path do
          %span.glyphicon.glyphicon-plus 
          NEW Group
      %li
        = link_to edit_webui_subscription_group_path do
          %span.glyphicon.glyphicon-pencil
          Edit
      %li
        = link_to webui_subscription_group_path, :method => :delete, :confirm => 'Are you sure?' do
          %span.glyphicon.glyphicon-trash
          Delete


%h2.border= @subscription_group.title

.box
  %dl.dl-horizontal
    %dt Name:
    %dd= @subscription_group.name

%h2.border Entities
= form_tag({}, :remote => true, :method => :get, :class => 'smart_listing_controls form-inline pull-right', :data => {:smart_listing => "subscriptions"}) do
  .filter.input-append.filter-search
    = text_field_tag :filter, '', :class => "search", :placeholder => "Type filter here ", :autocomplete => "off"
    %button.btn.disabled{:type => "submit"}
      %span.glyphicon.glyphicon-search
%p 
  List of all subscriptions in this group

= smart_listing_for(:subscriptions) do |smart_listing|
  = smart_listing.render_list
